
:root {
    --bg-dark: hsl(0, 0%, 90%);
    --bg: hsl(0, 0%, 95%);
    --bg-light: hsl(0, 0%, 100%);

    --border: hsl(0, 0%, 80%);

    --text-dark: hsl(0, 0%, 0%);
    --text-light: hsl(0, 0%, 10%);

    --primary-dark: hsl(158, 83%, 12%);
    --primary-light: hsl(158, 83%, 20%);
}

body {
    background: var(--bg-dark);
    height: fit-content;
    width: 100vw;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', monospace;
    color: var(--text-light);
}

#landing {
    background: var(--bg-dark);
    width: 100%;
    height: 100dvh; /* For mobile devices. Dynamic view height. */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#landing nav {
    height: 68px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    position: fixed;
    top: 0;
}
#landing nav a {
    text-decoration: none;
    color: var(--text-light);
    padding: 0px 12px;
    font-size: 20px;
}
#rubik {
    width: 44px;
    margin-right: auto;
    margin-left: 12px;
}

#headshot-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 68px 30px 0px 30px;
}
#headshot{
    width: min(64%, 300px);
    border-radius: 50%;
    margin: 0;
}

#intro {
    width: fit-content;
    margin: 0px 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
#intro div {
    height: 64px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    text-align: center;
}
#intro h2 {
    font-size: 32px;
    font-weight: normal;
    width: fit-content;
    padding: 10px 0px;
    margin: 0;
}
#landing h4 {
    margin-bottom: 0px;
    margin-right: auto;
}
#landing p {
    margin: 0px;
}


@media (min-width: 800px) {
    #landing {
        flex-direction: row;
    }
    #headshot-container {
        margin: 0;
        flex-grow: 0;
        width: max(28vw, 360px);
    }
    #headshot {
        width: min(64%, 360px)
    }
    #intro {
        margin-left: 0;
        flex-grow: 0;
        width: 36vw;
    }

}
